{% if item.asm is defined and item.asm in ['true', 'false'] %}
{{ '  ' ~ '\"asm\"' ~ ': ' ~ item.asm ~ ',' }}
{% elif item.asm is defined and item.asm in ['auto', 'none',
                                             'intel', 'ryzen'] %}
{{ '  ' ~ '\"asm\"' ~ ': \"' ~ item.asm ~ '\",' }}
{% endif %}
{% if item.av is defined and item.av in ['0', '1', '2', '3', '4'] %}
{{ '  ' ~ '\"av\"' ~ ': ' ~ item.av ~ ',' }}
{% endif %}
{% if item.max_cpu_usage is defined and item.max_cpu_usage != '' %}
{{ '  ' ~ '\"max-cpu-usage\"' ~ ': ' ~ item.max_cpu_usage ~ ',' }}
{% endif %}
{% if item.cpu_affinity is defined and item.cpu_affinity != '' %}
{% if item.cpu_affinity == 'null' %}
{{ '  ' ~ '\"cpu-affinity\"' ~ ': ' ~ item.cpu_affinity ~ ',' }}
{% else %}
{{ '  ' ~ '\"cpu-affinity\"' ~ ': \"' ~ item.cpu_affinity ~ '\",' }}
{% endif %}
{% endif %}
{% if item.cpu_priority is defined and item.cpu_priority != '' %}
{% if item.cpu_priority == 'null' %}
{{ '  ' ~ '\"cpu-priority\"' ~ ': ' ~ item.cpu_priority ~ ',' }}
{% else %}
{{ '  ' ~ '\"cpu-priority\"' ~ ': \"' ~ item.cpu_priority ~ '\",' }}
{% endif %}
{% endif %}
{% if item.threads is defined and item.threads != '' %}
{{ '  ' ~ '\"threads\"' ~ ': ' ~ item.threads ~ ',' }}
{% endif %}
