{% if xp.keepalive is defined and xp.keepalive in ['true', 'false'] %}
{{ '      ' ~ '\"keepalive\"' ~ ': ' ~ xp.keepalive ~ ',' }}
{% endif %}
{% if xp.nicehash is defined and xp.nicehash in ['true', 'false'] %}
{{ '      ' ~ '\"nicehash\"' ~ ': ' ~ xp.nicehash ~ ',' }}
{% endif %}
{% if xp.url is defined and xp.url != '' %}
{{ '      ' ~ '\"url\"' ~ ': \"' ~ xp.url ~ '\",' }}
{% endif %}
{% if xp.pass is defined and xp.pass != '' %}
{{ '      ' ~ '\"pass\"' ~ ': \"' ~ xp.pass ~ '\",' }}
{% endif %}
{% if xp.user is defined and xp.user != '' %}
{{ '      ' ~ '\"user\"' ~ ': \"' ~ xp.user ~ '\",' }}
{% endif %}
{% if xp.rig_id is defined and xp.rig_id != '' %}
{% if xp.rig_id == 'null' %}
{{ '      ' ~ '\"rig-id\"' ~ ': ' ~ xp.rig_id ~ ',' }}
{% else %}
{{ '      ' ~ '\"rig-id\"' ~ ': \"' ~ xp.rig_id ~ '\",' }}
{% endif %}
{% endif %}
{% if xp.variant is defined and xp.variant != '' %}
{{ '      ' ~ '\"variant\"' ~ ': \"' ~ xp.variant ~ '\",' }}
{% endif %}
{% if xp.tls is defined and xp.tls in ['true', 'false'] %}
{{ '      ' ~ '\"tls\"' ~ ': ' ~ xp.tls ~ ',' }}
{% endif %}
{% if xp.tls_fingerprint is defined and xp.tls_fingerprint != '' %}
{% if xp.tls_fingerprint == 'null' %}
{{ '      ' ~ '\"tls-fingerprint\"' ~ ': ' ~ xp.tls_fingerprint ~ ',' }}
{% else %}
{{ '      ' ~ '\"tls-fingerprint\"' ~ ': \"' ~ xp.tls_fingerprint ~ '\",' }}
{% endif %}
{% endif %}
