{% if x.algo is defined and x.algo in ['cryptonight', 'cryptonight-lite'] %}
{{ '  ' ~ '\"algo\"' ~ ': \"' ~ x.algo ~ '\",' }}
{% endif %}
{% if x.av is defined and x.av in ['0', '1', '2', '3', '4'] %}
{{ '  ' ~ '\"av\"' ~ ': ' ~ x.av ~ ',' }}
{% endif %}
{% if x.background is defined and x.background in ['true', 'false'] %}
{{ '  ' ~ '\"background\"' ~ ': ' ~ x.av ~ ',' }}
{% endif %}
{% if x.colors is defined and x.colors in ['true', 'false'] %}
{{ '  ' ~ '\"colors\"' ~ ': ' ~ x.colors ~ ',' }}
{% endif %}
{% if x.cpu_affinity is defined and x.cpu_affinity != '' %}
{% if x.cpu_affinity == 'null' %}
{{ '  ' ~ '\"cpu-affinity\"' ~ ': ' ~ x.cpu_affinity ~ ',' }}
{% else %}
{{ '  ' ~ '\"cpu-affinity\"' ~ ': \"' ~ x.cpu_affinity ~ '\",' }}
{% endif %}
{% endif %}
{% if x.cpu_priority is defined and x.cpu_priority != '' %}
{% if x.cpu_priority == 'null' %}
{{ '  ' ~ '\"cpu-priority\"' ~ ': ' ~ x.cpu_priority ~ ',' }}
{% else %}
{{ '  ' ~ '\"cpu-priority\"' ~ ': \"' ~ x.cpu_priority ~ '\",' }}
{% endif %}
{% endif %}
{% if x.log_file is defined and x.log_file != '' %}
{% if x.log_file == 'null' %}
{{ '  ' ~ '\"log-file\"' ~ ': ' ~ x.log_file ~ ',' }}
{% else %}
{{ '  ' ~ '\"log-file\"' ~ ': \"' ~ x.log_file ~ '\",' }}
{% endif %}
{% endif %}
{% if x.donate_level is defined and x.donate_level != '' %}
{{ '  ' ~ '\"donate-level\"' ~ ': ' ~ x.donate_level ~ ',' }}
{% endif %}
{% if x.max_cpu_usage is defined and x.max_cpu_usage != '' %}
{{ '  ' ~ '\"max-cpu-usage\"' ~ ': ' ~ x.max_cpu_usage ~ ',' }}
{% endif %}
{% if x.print_time is defined and x.print_time != '' %}
{{ '  ' ~ '\"print-time\"' ~ ': ' ~ x.print_time ~ ',' }}
{% endif %}
{% if x.retries is defined and x.retries != '' %}
{{ '  ' ~ '\"retries\"' ~ ': ' ~ x.retries ~ ',' }}
{% endif %}
{% if x.retry_pause is defined and x.retry_pause != '' %}
{{ '  ' ~ '\"retry-pause\"' ~ ': ' ~ x.retry_pause ~ ',' }}
{% endif %}
{% if x.safe is defined and x.safe in ['true', 'false'] %}
{{ '  ' ~ '\"safe\"' ~ ': ' ~ x.safe ~ ',' }}
{% endif %}
{% if x.syslog is defined and x.syslog in ['true', 'false'] %}
{{ '  ' ~ '\"syslog\"' ~ ': ' ~ x.syslog ~ ',' }}
{% endif %}
{% if x.threads is defined and x.threads != '' %}
{{ '  ' ~ '\"threads\"' ~ ': ' ~ x.threads ~ ',' }}
{% endif %}
