{% if xa.port is defined and xa.port != '' %}
{{ '    ' ~ '\"port\"' ~ ': ' ~ xa.port ~ ',' }}
{% endif %}
{% if xa.access_token is defined and xa.access_token != '' %}
{% if xa.access_token == 'null' %}
{{ '    ' ~ '\"access-token\"' ~ ': ' ~ xa.access_token ~ ',' }}
{% else %}
{{ '    ' ~ '\"access-token\"' ~ ': \"' ~ xa.access_token ~ '\",' }}
{% endif %}
{% endif %}
{% if xa.worker_id is defined and xa.worker_id != '' %}
{% if xa.worker_id == 'null' %}
{{ '    ' ~ '\"worker-id\"' ~ ': ' ~ xa.worker_id ~ ',' }}
{% else %}
{{ '    ' ~ '\"worker-id\"' ~ ': \"' ~ xa.worker_id ~ '\",' }}
{% endif %}
{% endif %}
