{% if item.opencl_platform is defined and item.opencl_platform != '' %}
{{ '  ' ~ '\"opencl-platform\"' ~ ': ' ~ item.opencl_platform ~ ',' }}
{% endif %}
{% if item.threads is defined and item.threads != '' %}
{% if item.threads == 'null' %}
{{ '  ' ~ '\"threads\"' ~ ': ' ~ item.threads ~ ',' }}
{% else %}
{% for th in item.threads %}
{% if loop.first %}
{{ '  ' + '\"threads\"' + ': [' }}
{% endif %}
{% if th.index is defined and th.index != '' %}
{{ '    ' + '{' }}
{{ '    ' ~ '\"index\"' ~ ': ' ~ th.index ~ ',' }}
{% if th.intensity is defined and th.intensity != '' %}
{{ '    ' ~ '\"intensity\"' ~ ': ' ~ th.intensity ~ ',' }}
{% endif %}
{% if th.worksize is defined and th.worksize != '' %}
{{ '    ' ~ '\"worksize\"' ~ ': ' ~ th.worksize ~ ',' }}
{% endif %}
{% if th.strided_index is defined and th.strided_index != '' %}
{{ '    ' ~ '\"strided_index\"' ~ ': ' ~ th.strided_index ~ ',' }}
{% endif %}
{% if th.mem_chunk is defined and th.mem_chunk != '' %}
{{ '    ' ~ '\"mem_chunk\"' ~ ': ' ~ th.mem_chunk ~ ',' }}
{% endif %}
{% if th.comp_mode is defined and th.comp_mode in ['true', 'false'] %}
{{ '    ' ~ '\"comp_mode\"' ~ ': ' ~ th.comp_mode ~ ',' }}
{% endif %}
{% if th.affine_to_cpu is defined and th.affine_to_cpu in ['true', 'false'] %}
{{ '    ' ~ '\"affine_to_cpu\"' ~ ': ' ~ th.affine_to_cpu ~ ',' }}
{% endif %}
{% endif %}
{% if loop.last %}
{{ '    ' + '}' }}
{{ '  ' + '],' }}
{% else %}
{{ '    ' + '},' }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
