{% if item.algo is defined and item.algo in ['cryptonight', 'cryptonight-lite'] %}
{{ '  ' ~ '\"algo\"' ~ ': \"' ~ item.algo ~ '\",' }}
{% endif %}
{% if item.av is defined and item.av in ['0', '1', '2', '3', '4'] %}
{{ '  ' ~ '\"av\"' ~ ': ' ~ item.av ~ ',' }}
{% endif %}
{% if item.background is defined and item.background in ['true', 'false'] %}
{{ '  ' ~ '\"background\"' ~ ': ' ~ item.av ~ ',' }}
{% endif %}
{% if item.colors is defined and item.colors in ['true', 'false'] %}
{{ '  ' ~ '\"colors\"' ~ ': ' ~ item.colors ~ ',' }}
{% endif %}
{% if item.cpu_affinity is defined and item.cpu_affinity != '' %}
{% if item.cpu_affinity == 'null' %}
{{ '  ' ~ '\"cpu-affinity\"' ~ ': ' ~ item.cpu_affinity ~ ',' }}
{% else %}
{{ '  ' ~ '\"cpu-affinity\"' ~ ': \"' ~ item.cpu_affinity ~ '\",' }}
{% endif %}
{% endif %}
{% if item.cpu_priority is defined and item.cpu_priority != '' %}
{% if item.cpu_priority == 'null' %}
{{ '  ' ~ '\"cpu-priority\"' ~ ': ' ~ item.cpu_priority ~ ',' }}
{% else %}
{{ '  ' ~ '\"cpu-priority\"' ~ ': \"' ~ item.cpu_priority ~ '\",' }}
{% endif %}
{% endif %}
{% if item.log_file is defined and item.log_file != '' %}
{% if item.log_file == 'null' %}
{{ '  ' ~ '\"log-file\"' ~ ': ' ~ item.log_file ~ ',' }}
{% else %}
{{ '  ' ~ '\"log-file\"' ~ ': \"' ~ item.log_file ~ '\",' }}
{% endif %}
{% endif %}
{% if item.donate_level is defined and item.donate_level != '' %}
{{ '  ' ~ '\"donate-level\"' ~ ': ' ~ item.donate_level ~ ',' }}
{% endif %}
{% if item.max_cpu_usage is defined and item.max_cpu_usage != '' %}
{{ '  ' ~ '\"max-cpu-usage\"' ~ ': ' ~ item.max_cpu_usage ~ ',' }}
{% endif %}
{% if item.print_time is defined and item.print_time != '' %}
{{ '  ' ~ '\"print-time\"' ~ ': ' ~ item.print_time ~ ',' }}
{% endif %}
{% if item.retries is defined and item.retries != '' %}
{{ '  ' ~ '\"retries\"' ~ ': ' ~ item.retries ~ ',' }}
{% endif %}
{% if item.retry_pause is defined and item.retry_pause != '' %}
{{ '  ' ~ '\"retry-pause\"' ~ ': ' ~ item.retry_pause ~ ',' }}
{% endif %}
{% if item.safe is defined and item.safe in ['true', 'false'] %}
{{ '  ' ~ '\"safe\"' ~ ': ' ~ item.safe ~ ',' }}
{% endif %}
{% if item.syslog is defined and item.syslog in ['true', 'false'] %}
{{ '  ' ~ '\"syslog\"' ~ ': ' ~ item.syslog ~ ',' }}
{% endif %}
{% if item.threads is defined and item.threads != '' %}
{{ '  ' ~ '\"threads\"' ~ ': ' ~ item.threads ~ ',' }}
{% endif %}
