{% if item.background is defined and item.background in ['true', 'false'] %}
{{ '  ' ~ '\"background\"' ~ ': ' ~ item.background ~ ',' }}
{% endif %}
{% if item.colors is defined and item.colors in ['true', 'false'] %}
{{ '  ' ~ '\"colors\"' ~ ': ' ~ item.colors ~ ',' }}
{% endif %}
{% if item.log_file is defined and item.log_file != '' %}
{% if item.log_file == 'null' %}
{{ '  ' ~ '\"log-file\"' ~ ': ' ~ item.log_file ~ ',' }}
{% else %}
{{ '  ' ~ '\"log-file\"' ~ ': \"' ~ item.log_file ~ '\",' }}
{% endif %}
{% endif %}
{% if item.donate_level is defined and item.donate_level != '' %}
{{ '  ' ~ '\"donate-level\"' ~ ': ' ~ item.donate_level ~ ',' }}
{% endif %}
{% if item.donate_over_proxy is defined and
      item.donate_over_proxy in ['1', '2', '3'] %}
{{ '  ' ~ '\"donate-over-proxy\"' ~ ': ' ~ item.donate_over_proxy ~ ',' }}
{% endif %}
{% if item.print_time is defined and item.print_time != '' %}
{{ '  ' ~ '\"print-time\"' ~ ': ' ~ item.print_time ~ ',' }}
{% endif %}
{% if item.retries is defined and item.retries != '' %}
{{ '  ' ~ '\"retries\"' ~ ': ' ~ item.retries ~ ',' }}
{% endif %}
{% if item.retry_pause is defined and item.retry_pause != '' %}
{{ '  ' ~ '\"retry-pause\"' ~ ': ' ~ item.retry_pause ~ ',' }}
{% endif %}
{% if item.syslog is defined and item.syslog in ['true', 'false'] %}
{{ '  ' ~ '\"syslog\"' ~ ': ' ~ item.syslog ~ ',' }}
{% endif %}
{% if item.user_agent is defined and item.user_agent != '' %}
{% if item.user_agent == 'null' %}
{{ '  ' ~ '\"user-agent\"' ~ ': ' ~ item.user_agent ~ ',' }}
{% else %}
{{ '  ' ~ '\"user-agent\"' ~ ': \"' ~ item.user_agent ~ '\",' }}
{% endif %}
{% endif %}
{% if item.watch is defined and item.watch in ['true', 'false'] %}
{{ '  ' ~ '\"watch\"' ~ ': ' ~ item.watch ~ ',' }}
{% endif %}
{% if item.autosave is defined and item.autosave in ['true', 'false'] %}
{{ '  ' ~ '\"autosave\"' ~ ': ' ~ item.autosave ~ ',' }}
{% endif %}
