{% if xa.worker_id is defined and xa.worker_id != '' %}
{{ '    ' ~ '\"worker-id\"' ~ ': \"' ~ xa.worker_id ~ '\",' }}
{% endif %}
{% if xa.id is defined and xa.id != '' %}
{{ '    ' ~ '\"id\"' ~ ': \"' ~ xa.id ~ '\",' }}
{% endif %}
