{% if xc.asm is defined and xc.asm in ['true', 'false'] %}
{{ '      ' ~ '\"asm\"' ~ ': ' ~ xc.asm ~ ',' }}
{% elif xc.asm is defined and xc.asm in ['intel', 'ryzen', 'bulldozer'] %}
{{ '      ' ~ '\"asm\"' ~ ': \"' ~ xc.asm ~ '\",' }}
{% endif %}
{% if xc.huge_pages is defined and xc.huge_pages in ['true', 'false'] %}
{{ '      ' ~ '\"huge-pages\"' ~ ': ' ~ xc.huge_pages ~ ',' }}
{% endif %}
{% if xc.hw_aes is defined and xc.hw_aes in ['true', 'false'] %}
{{ '      ' ~ '\"hw-aes\"' ~ ': ' ~ xc.hw_aes ~ ',' }}
{% endif %}
{% if xc.affinity is defined and xc.affinity != '' %}
{% if xc.affinity == 'null' %}
{{ '      ' ~ '\"affinity\"' ~ ': ' ~ xc.affinity ~ ',' }}
{% else %}
{{ '      ' ~ '\"affinity\"' ~ ': \"' ~ xc.affinity ~ '\",' }}
{% endif %}
{% endif %}
{% if xc.priority is defined and xc.priority != '' %}
{% if xc.priority == 'null' %}
{{ '      ' ~ '\"priority\"' ~ ': ' ~ xc.priority ~ ',' }}
{% else %}
{{ '      ' ~ '\"priority\"' ~ ': \"' ~ xc.priority ~ '\",' }}
{% endif %}
{% endif %}
{% if xc.threads is defined and xc.threads != '' %}
{{ '      ' ~ '\"threads\"' ~ ': ' ~ xc.threads ~ ',' }}
{% endif %}
{% if xc.intensity is defined and xc.intensity != '' %}
{{ '      ' ~ '\"intensity\"' ~ ': ' ~ xc.intensity ~ ',' }}
{% endif %}
